<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.five.police.repository.BulidingdivideMapper" >
  <resultMap id="BaseResultMap" type="com.five.police.model.Bulidingdivide" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="placeid" property="placeid" jdbcType="INTEGER" />
    <result column="policeid" property="policeid" jdbcType="CHAR" />
    <result column="divideid" property="divideid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, placeid, policeid, divideid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bulidingdivide
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bulidingdivide
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.five.police.model.Bulidingdivide" >
    insert into bulidingdivide (id, placeid, policeid, 
      divideid)
    values (#{id,jdbcType=INTEGER}, #{placeid,jdbcType=INTEGER}, #{policeid,jdbcType=CHAR}, 
      #{divideid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.five.police.model.Bulidingdivide" >
    insert into bulidingdivide
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="placeid != null" >
        placeid,
      </if>
      <if test="policeid != null" >
        policeid,
      </if>
      <if test="divideid != null" >
        divideid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="placeid != null" >
        #{placeid,jdbcType=INTEGER},
      </if>
      <if test="policeid != null" >
        #{policeid,jdbcType=CHAR},
      </if>
      <if test="divideid != null" >
        #{divideid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.five.police.model.Bulidingdivide" >
    update bulidingdivide
    <set >
      <if test="placeid != null" >
        placeid = #{placeid,jdbcType=INTEGER},
      </if>
      <if test="policeid != null" >
        policeid = #{policeid,jdbcType=CHAR},
      </if>
      <if test="divideid != null" >
        divideid = #{divideid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.five.police.model.Bulidingdivide" >
    update bulidingdivide
    set placeid = #{placeid,jdbcType=INTEGER},
      policeid = #{policeid,jdbcType=CHAR},
      divideid = #{divideid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>