<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.five.police.repository.DistributelogMapper" >
  <resultMap id="BaseResultMap" type="com.five.police.model.Distributelog" >
    <id column="distributeid" property="distributeid" jdbcType="INTEGER" />
    <result column="operater" property="operater" jdbcType="CHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    distributeid, operater, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from distributelog
    where distributeid = #{distributeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from distributelog
    where distributeid = #{distributeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.five.police.model.Distributelog" >
    insert into distributelog (distributeid, operater, time
      )
    values (#{distributeid,jdbcType=INTEGER}, #{operater,jdbcType=CHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.five.police.model.Distributelog" >
    insert into distributelog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="distributeid != null" >
        distributeid,
      </if>
      <if test="operater != null" >
        operater,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="distributeid != null" >
        #{distributeid,jdbcType=INTEGER},
      </if>
      <if test="operater != null" >
        #{operater,jdbcType=CHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.five.police.model.Distributelog" >
    update distributelog
    <set >
      <if test="operater != null" >
        operater = #{operater,jdbcType=CHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where distributeid = #{distributeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.five.police.model.Distributelog" >
    update distributelog
    set operater = #{operater,jdbcType=CHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where distributeid = #{distributeid,jdbcType=INTEGER}
  </update>
</mapper>