<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.five.police.repository.PhysicsinfoMapper" >
  <resultMap id="BaseResultMap" type="com.five.police.model.Physicsinfo" >
    <id column="physicsid" property="physicsid" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="firsttime" property="firsttime" jdbcType="TIMESTAMP" />
    <result column="placeid" property="placeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    physicsid, address, firsttime, placeid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from physicsinfo
    where physicsid = #{physicsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from physicsinfo
    where physicsid = #{physicsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.five.police.model.Physicsinfo" >
    insert into physicsinfo (physicsid, address, firsttime, 
      placeid)
    values (#{physicsid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{firsttime,jdbcType=TIMESTAMP}, 
      #{placeid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.five.police.model.Physicsinfo" >
    insert into physicsinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="physicsid != null" >
        physicsid,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="firsttime != null" >
        firsttime,
      </if>
      <if test="placeid != null" >
        placeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="physicsid != null" >
        #{physicsid,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="firsttime != null" >
        #{firsttime,jdbcType=TIMESTAMP},
      </if>
      <if test="placeid != null" >
        #{placeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.five.police.model.Physicsinfo" >
    update physicsinfo
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="firsttime != null" >
        firsttime = #{firsttime,jdbcType=TIMESTAMP},
      </if>
      <if test="placeid != null" >
        placeid = #{placeid,jdbcType=INTEGER},
      </if>
    </set>
    where physicsid = #{physicsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.five.police.model.Physicsinfo" >
    update physicsinfo
    set address = #{address,jdbcType=VARCHAR},
      firsttime = #{firsttime,jdbcType=TIMESTAMP},
      placeid = #{placeid,jdbcType=INTEGER}
    where physicsid = #{physicsid,jdbcType=INTEGER}
  </update>
</mapper>