<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.five.police.repository.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.five.police.model.Task" >
    <id column="taskid" property="taskid" jdbcType="INTEGER" />
    <result column="taskname" property="taskname" jdbcType="VARCHAR" />
    <result column="tasktype" property="tasktype" jdbcType="CHAR" />
    <result column="taskaddress" property="taskaddress" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="CHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="level" property="level" jdbcType="CHAR" />
    <result column="distribute" property="distribute" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    taskid, taskname, tasktype, taskaddress, linkman, source, starttime, endtime, level, 
    distribute
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task
    where taskid = #{taskid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task
    where taskid = #{taskid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.five.police.model.Task" >
    insert into task (taskid, taskname, tasktype, 
      taskaddress, linkman, source, 
      starttime, endtime, level, 
      distribute)
    values (#{taskid,jdbcType=INTEGER}, #{taskname,jdbcType=VARCHAR}, #{tasktype,jdbcType=CHAR}, 
      #{taskaddress,jdbcType=VARCHAR}, #{linkman,jdbcType=CHAR}, #{source,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{level,jdbcType=CHAR}, 
      #{distribute,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.five.police.model.Task" >
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="taskname != null" >
        taskname,
      </if>
      <if test="tasktype != null" >
        tasktype,
      </if>
      <if test="taskaddress != null" >
        taskaddress,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="distribute != null" >
        distribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskid != null" >
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="taskname != null" >
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        #{tasktype,jdbcType=CHAR},
      </if>
      <if test="taskaddress != null" >
        #{taskaddress,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        #{level,jdbcType=CHAR},
      </if>
      <if test="distribute != null" >
        #{distribute,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.five.police.model.Task" >
    update task
    <set >
      <if test="taskname != null" >
        taskname = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null" >
        tasktype = #{tasktype,jdbcType=CHAR},
      </if>
      <if test="taskaddress != null" >
        taskaddress = #{taskaddress,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=CHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=CHAR},
      </if>
      <if test="distribute != null" >
        distribute = #{distribute,jdbcType=CHAR},
      </if>
    </set>
    where taskid = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.five.police.model.Task" >
    update task
    set taskname = #{taskname,jdbcType=VARCHAR},
      tasktype = #{tasktype,jdbcType=CHAR},
      taskaddress = #{taskaddress,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=CHAR},
      source = #{source,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=CHAR},
      distribute = #{distribute,jdbcType=CHAR}
    where taskid = #{taskid,jdbcType=INTEGER}
  </update>
</mapper>